<header class="l-header v-center-parent">

    <h3>Sponding.io</h3>
    <nav class="navbar">
        <a class="burger-nav"></a>
        <ul class="nav alignRight">
            <li><a href="/">home</a></li>
            <li>
                <a href="">features</a>
            </li>
            <li> <a href="">blog</a></li>
            <li> <a href="">downloads</a></li>
        </ul>
    </nav>


</header>
<main>
    <router-outlet></router-outlet>
</main>

<!--http://onlineoramalama.com/#/-->
<!--http://ariixcreativedev.com/#/-->