<div class="row">
    <div class="large-col-12 small-col-12">
        <div class="contain-to-grid sticky">
            <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
                <ul class="title-area">
                    <li class="name">
                        <h1><a href="#">My Site</a></h1>
                    </li>
                    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
                </ul>
            </nav>
        </div>
        <h1>
            {{title}}
        </h1>
    </div>
</div>

<!--http://onlineoramalama.com/#/-->
<!--http://ariixcreativedev.com/#/-->