<header class="l-header v-center-parent">

    <h3>Sponding.io</h3>
    <nav class="navbar">
        <button class="c-hamburger c-hamburger--htx" [ngClass]="{isactive: menuOpen}" (click)="toggleMenu()">
            <span>toggle menu</span>
        </button>

    </nav>
    <div class="menu-container" [ngClass]="{open: menuOpen}">
        <ul>
            <li>home</li>
            <li>loading</li>
            <li>work</li>

        </ul>
    </div>

</header>
<main>
    <router-outlet></router-outlet>
</main>

<!--http://onlineoramalama.com/#/-->
<!--http://ariixcreativedev.com/#/-->