<section id="fo" class="home">
    <div class="container">

        <div class="row">
            <div class="middle">
                <h4>Mornin!</h4>
                <p>My name is James <br> I'm a developer.</p>
                <p></p>


            </div>
            <div class="middle">
                <h4>Afternoon</h4>
                <p><br> I'm a director.</p>
                <p></p>

            </div>
            <div class="middle">
                <h4>Evenin!</h4>
                <p> <br> I'm a depixelator.</p>
                <p></p>


            </div>
            <div class="middle">
                <h4>Mornin!</h4>
                <p><br> I'm a developer again.</p>
                <p></p>


            </div>
        </div>
        <!--<div class="row">
            <div class="middle">

            </div>
        </div>-->
    </div>

</section>

<app-mid class=" work-imgs"></app-mid>